* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body {

}






/* Plug-in 
------------------------*/
h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contaner {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}